html, #root, .App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav {
    padding-left: 20px;

}

.nav ul {
    position: absolute;
    top: 0;
    left: 30px;
    color: coral;
}

.nav a {
    text-decoration: none;
    font-style: italic;
    font-size: medium;
    color: crimson;

}

@media (max-width: 640px) {
    .nav {
        padding: 0 !important;
        width: 100vw;

    }

    .nav ul {
        position: relative;
        left: 0;
        width: 100vw - 30px;
        color: coral;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav li {
        width: 120px;
    }
}